.active_cursor {
    position: absolute;
    top: 0;
    left: 0;
    img{
        width: 20px;
        height: 20px;
    }
}
.monaco_editor{
    width: 100vw;
    height: 100vh;
}
#editor{
    width: 100vw;
    height: 100vh;
}